/* Fabryka webfonts — Google Fonts substitutions for the licensed originals.
   Display: Archivo (wdth axis, used compressed) stands in for DIN Condensed / Druk Condensed.
   Text:    Instrument Sans — the intended open grotesk (Suisse Int'l / Neue Haas territory).
   Mono:    IBM Plex Mono stands in for Berkeley Mono / Commit Mono. */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,400..900;1,62..125,400..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
